<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Stream</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            background-color: grey;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>WebCam com Flask</h1>
    <img src="{{ url_for('video_feed') }}">    
</body>
</html>